.app-map{
  .app-map-allow{
    text-align: left;
    div {margin:12px 0;}
  }
  .app-map-noallow{
    background-color:#e2e2e2;
    text-align: center;
    padding:12px;
    border-radius: 6px;
  }
}