.app-new {

  label {
    color: var(--color-red);
    font-weight: bold;
  }

  .app-new-bocata {
    font-weight: bold;
    font-size: 24px;
    color: var(--color-red);
    padding: 0 0 24px;
  }

  .a-n-c {
    margin: 48px;
    padding: 48px;
    background-color: #fff;
    width: 500px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    border: 1px solid #ececec;
    border-radius: 8px;

    .a-n-c-c {
      margin: 18px 0 0;
      padding: 0;

      span {
        display: inline-block;
        margin-right: 12px;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        &.selected {
          border: 4px solid #2196f3;
          box-sizing: border-box;
        }

        &.a {
          background-color: var(--bocata-ba);
        }

        &.b {
          background-color: var(--bocata-bb);
        }

        &.c {
          background-color: var(--bocata-bc);
        }

        &.d {
          background-color: var(--bocata-bd);
        }
      }

    }

    .a-n-c-i {
      margin: 12px 0 22px;

      .a-n-c-i-i {
        min-width: 130px;
        margin: 0 12px 12px 0;
        border-radius: 20px;
        display: inline-block;
        border: 1px solid #d5d5d5;
        text-align: center;
        padding: 6px 8px;
        cursor: pointer;

        .a-n-c-i-i-s {
          display: none;
        }

        .a-n-c-i-i-n {
          font-weight: bold;
        }

        &.selected {
          background-color: #e2e2e2;
          border: 1px solid var(--color-grey);

          &:after {
            display: inline-block;
          }

          color: var(--color-grey);

          .a-n-c-i-i-s {
            display: inline-block;

            svg {
              fill: var(--color-grey);
              vertical-align: middle;
              margin-left: 3px;
            }
          }

          .a-n-c-i-i-n {
            display: inline-block;
          }
        }

      }

    }

    .a-n-c-r {
      position: absolute;
      top: 0;
      right: 0;
      padding: 24px 24px 0;
      cursor: pointer;
    }

    .a-n-c-cb {
      clear: both;
    }

    .a-n-c-b {
      display: block;
      width: 100%;
      background-color: var(--color-red);
      border-radius: 20px;
      padding: 12px;
      color: var(--color-white);
      font-size: 16px;
      margin-top: 42px;
      border: none;
      max-width: 200px;
      margin: 42px auto 0;
      font-family: 'Raleway-Regular', arial, sans-serif !important;
      cursor: pointer;
    }

    .a-n-c-bu {
      border: none;
      border-bottom: 1px solid grey;
      padding: 12px 0;
      box-sizing: border-box;
      font-size: 16px;
      width: 100%;
      margin: 0 0 30px;

      &:focus {
        outline: none;
      }
    }

    .a-n-c-p {
      padding: 6px 0;
    }

    .a-n-c-err {
      color: var(--color-red);
      font-size: 16px;
      margin: 18px 0;
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@media (max-width: 950px) {
  .app-new {
    .a-n-c {
      padding: 24px;
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .app-new {
    .a-n-c {
      width: 80%;

      .a-n-c-b {
        max-width: initial;
        ;
      }
    }
  }
}

@media (max-width: 600px) {
  .app-new {
    .a-n {
      .a-n-c {
        margin: 12px;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: 500px) {
  .app-new {
    .a-n-c {
      width: 90%;
    }
  }
}

@media (max-height: 900px) {
  .app-new {
    .a-n-c {
      top: 10%;
    }
  }
}

@media (max-height: 650px) {
  .app-new {
    .a-n-c {
      top: 2%;
    }
  }
}
