/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  background-color: #f5f6f8;
}

:root {
  --color-red: #E1524B;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: grey;


}

