
.app-me{
    .app-me-h {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        color: #fff;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        text-align: right;
        top: 0;
        width: 300px;
        z-index: 1;
    }

    .app-me-b {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        margin-left: 300px;

        &.nologin{
            margin-left:0;
        }
    }
}

@media (max-width: 1300px) {
    .app-me{
        .app-me-h {
            width: 300px;
        }
    
        .app-me-b {
            margin-left: 300px;
        }
    }
}

@media (max-width: 980px) {
    .app-me{
        .app-me-h {
            width: 250px;
        }
    
        .app-me-b {
            margin-left: 250px;
        }
    }
}

@media (max-width: 768px) {
    .app-me{
        .app-me-h {
            width: 100%;    
            height: auto;
            position: initial;
        }
    
        .app-me-b {
            margin-left: 0;
        }
    }
}