.app-login {

  .cb {
    clear: both;
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #31313187;

    &.active {
      display: block;
    }
  }

  .link {
    text-decoration: underline;
    background-color: #fff;
    color: var(--color-red);
    cursor: pointer;
  }

  .content-link {
    padding: 24px 0;

    span {
      display: block;
      padding-bottom: 12px;
    }
  }

  .content {
    background-color: var(--color-white);
    color: var(--color-white);
    max-width: 400px;
    margin: 100px auto;
    border-radius: 12px;
    position: relative;

    -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    border-radius: 8px;
    border: 1px solid #ececec;
    background-color: var(--color-white);

    .content-logo {

      margin: 24px auto;
      max-width: 80px;
      background-color: #e1514a;
      border-radius: 50%;
      padding: 19px;


      .text {
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        color: #fff;
      }

      .logo {
        margin: 0 auto;
        display: block;
      }
    }

    .a {
      padding: 24px;

      .a-l {
        display: block;
        width: 100%;
        background-color: var(--color-red);
        border-radius: 20px;
        padding: 12px;
        color: var(--color-white);
        font-size: 16px;
        border: 1px solid #fff;
      }

      .a-r {
        display: block;
        margin-bottom: 24px;
        width: 100%;
        background-color: var(--color-white);
        border-radius: 20px;
        padding: 12px;
        color: var(--color-red);
        font-size: 16px;
        border: 1px solid #fff;
      }
    }

    .login,
    .register,
    .reset-pwd {

      width: 348px;
      margin: 0 auto 30px;
      //background-color: var(--color-white);
      border-radius: 12px;
      //padding: 24px;
      box-sizing: border-box;
      color: var(--color-black);

      &.active {
        display: block;
      }

      input {
        display: block;
        margin: 0 auto;
        width: 100%;
      }

      button {
        display: block;
        width: 100%;
        background-color: var(--color-red);
        border-radius: 20px;
        padding: 12px;
        color: var(--color-white);
        font-size: 16px;
        margin-top: 42px;
        border: 1px solid #fff;
      }

      .login-title {
        margin: 6px 0 12px;
        font-size: 24px;
      }

      .l-n,
      .l-e,
      .l-c {
        border: none;
        border-bottom: 1px solid grey;
        padding: 12px;
        box-sizing: border-box;
        margin-bottom: 18px;
        font-size: 16px;
      }

      .l-rp {
        text-decoration: underline;
        background-color: #fff;
        color: var(--color-red);
      }
    }


    .l-err {
      color: var(--color-red);
    }

    .l-is {
      color: var(--color-green);
    }
  }
}

@media (max-width: 500px) {
  .app-login {
    .content {
      position: initial;
      left: initial;
      top: initial;
      transform: initial;
      width: 100%;
      margin: 0 auto;
      max-width: initial;
      padding: 12px;
      box-sizing: border-box;
      border-radius: 0;
      height: 100vh;

      .login,
      .register,
      .reset-pwd {
        border-radius: initial;
        width: 100%;
        height: 100vh;
      }
    }
  }
}
