.app-message {
  max-width: 1000px;
  margin: 48px;
  margin-bottom: 60px;

  .a-m-nd {
    text-align: center;
    margin: 72px 0;
  }

  .a-m {

    .a-m-tit {
      color: var(--color-red);
      font-size: 28px;
    }

    .a-m-i {
      margin: 0 0 24px;
    }

    .a-m-t {
      float: left;
      margin-top: 14px;
    }

    .a-m-p {
      float: right;
      padding: 12px 0;

      span {
        margin-right: 6px;
        display: inline-block;
        vertical-align: middle;
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 3px;
        vertical-align: middle;
        display: inline-block;
      }
    }

    .a-m-l {
      clear: both;
      max-height: 400px;
      overflow-y: scroll;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
      background-color: #e0e0e0;
      min-height: 400px;
      margin-bottom: 24px;

      .a-m-l-alert {
        color: grey;
        text-align: center;
        padding: 24px 0;
      }


      .a-m-l-m {
        background-color: #fff;
        padding: 12px;
        margin: 12px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
        box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
        border-radius: 8px;
        border: 1px solid #ececec;
        font-size: 14px;
        position: relative;

        .a-m-l-m-h {
          position: absolute;
          top: 12px;
          right: 12px;
          color: rgb(204, 204, 204);
        }

        .a-m-l-m-i {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: top;
          margin-right: 24px;
        }

        .a-m-l-m-r {
          display: inline-block;
          width: 85%;

          .a-m-l-m-r-n {
            font-weight: bold;
            line-height: 21px;
          }
        }

        &:first-child {
          margin: 12px;
        }

        &:last-child {
          margin: 12px;
        }
      }

    }

    .a-m-m {
      textarea {
        width: 100%;
        height: 120px;
        margin: 0 0 24px;
        border-radius: 6px;
        border: 1px solid #d5d5d5;
        padding: 12px;

        &:focus {
          outline-width: 0;
        }

        &::placeholder {
          color: #d5d5d5;
        }

        font-family: 'Source Sans Pro',
        sans-serif;
        font-weight: 400px;
        font-size: 18px;
      }

      button {
        padding: 7px 38px;
        background-color: var(--color-red);
        color: #fff;
        font-size: 16px;
        border-radius: 20px;
        text-align: center;
        border-style: none;
        -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
        box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
        border-radius: 24px;
        border: 1px solid #ececec;
        width: 250px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

@media (max-width: 950px) {
  .app-message {
    margin: 24px;

    
  }
}

@media (max-width: 768px) {
  .app-message {
    margin: 18px;
  }
}

@media (max-width: 600px) {
  .app-message {


    .a-m {
      font-size: 16px;

      .a-m-t {
        float: initial;
        margin-top: 0;
      }

      .a-m-p {
        float: initial;
      }

      .a-m-l {
        .a-m-l-m {
          .a-m-l-m-i {
            width: 35px;
            height: 35px;
            margin-right: 12px;
          }

          .a-m-l-m-r {
            max-width: 75%;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .app-message {


    .a-m {
      font-size: 14px;

      .a-m-l {
        .a-m-l-m {
          padding: 12px;
        }
      }
    }
  }
}
