.app-menu {

  .app-menu-p {
    margin: 6px 0 12px;
  }

  .app-menu-title {
    font-size: 28px;
    color: var(--color-red);
  }

  .app-menu-content {
    max-width: 1100px;
    padding: 48px;

    section {
      padding: 24px 0;

      &:first-child {
        padding: 0 0 24px;
      }
    }

    .app-menu-list {
      padding: 6px 0;

      .app-menu-list-item {
        display: grid;
        grid-template-columns: 100px 40px 15% 45% auto;
        gap: 6px;
        vertical-align: middle;
        border-bottom: 1px solid #ececec;
        padding: 12px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 9px 0;
        border: 1px solid #ececec;
        border-radius: 8px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
        box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
        background-color: #fff;
        position: relative;
        max-width: 1100px;
        align-items: center;

        &.pers{
          grid-template-columns: 100px 40px 15% 45% auto auto;
        }

        .app-menu-list-item-name {
          font-weight: bold;
        }

        .app-menu-list-item-tostado {

          .tostado {
            background-color: orange;
            width: 20px;
            height: 20px;
            padding: 0px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            font-size: 15px;
            color: #111;
            font-weight: bold;
          }
        }

        .app-menu-list-item-price {
          max-width: 100px;

          span {
            background-color: var(--color-red);
            color: #fff;
            text-align: center;
            border-radius: 24px;
            padding: 3px 12px;
          }
        }

        .app-menu-list-item-tostado {
          color: orange;
        }

        .app-menu-list-item-booking {
          background-color: var(--color-grey);
          color: #fff;
          text-align: center;
          line-height: 37px;
          cursor: pointer;
          border-radius: 6px;
        }

        .app-menu-list-item-remove {
          background-color: var(--color-red);
          color: #fff;
          text-align: center;
          line-height: 37px;
          cursor: pointer;
          border-radius: 6px;
        }
      }

      .app-menu-list-add {
        a {
          max-width: 1100px;
          border: 3px solid dashed;
          text-decoration: none;
          background-color: #fff;
          width: 100%;
          display: block;
          border: 2px solid grey;
          border-style: dashed;
          text-align: center;
          padding: 24px;
          box-sizing: border-box;
          color: grey;
          font-size: 22px;
        }
      }
    }
  }

}


@media (max-width: 1300px) {
  .app-menu {
    .app-menu-content {
      padding: 24px;

      .app-menu-list {
        .app-menu-list-item {
          display: block;
          position: relative;

          .app-menu-list-item-tostado {
            margin-bottom: 3px;
          }

          .app-menu-list-item-ing {
            margin-bottom: 12px;
          }

          .app-menu-list-item-price {
            display: inline-block;
            position: absolute;
            right: 9px;
            top: 12px;
          }

          .app-menu-list-item-remove{
            margin-bottom:6px;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .app-menu {
    .app-menu-content {
      padding: 18px;

      .app-menu-list {
        font-size: 16px;


      }
    }
  }
}

@media (max-width: 600px) {
  .app-menu {
    .app-menu-content {
      padding: 12px;

    }
  }
}
