.app-header {
  background-color: var(--color-red);
  float: left;
  width: 300px;
  height: 100vh;
  position: relative;

  /*.a-h-v {
    width: 100%;
    padding: 12px 48px;
    text-align: center;
    background-color: var(--color-red);
    color: var(--color-white);
    box-sizing: border-box;

    a {
      color: var(--color-white);
      margin-left: 5px;
    }
  }*/
  .app-header-horizontal {
    display: none;
  }

  .app-header-vertical {

    .app-header-logo {
      padding: 12px 0;
      border-bottom: 1px solid #fff;

      svg {
        display: block;
        margin: 24px auto 0;
      }

      h1 {
        font-size: 30px;
        text-align: center;
        margin: 0 0 24px;
      }
    }

    .app-header-menu {

      list-style: none;
      margin: 30px auto;
      display: block;
      padding: 0;


      li {
        transition: all 0.5s ease;

        &.active {
          background-color: var(--color-red);
          position: relative;

          a {

            color: var(--color-white) !important;
            opacity: 1;
          }
        }

        stencil-route-link {
          app-svg {
            display: none;
          }
        }

        a {
          color: #fff;
          opacity: 0.5;
          text-decoration: none;
          padding: 0 24px;
          line-height: 38px;
          font-size: 24px;

          &:hover {
            color: #fff;
            opacity: 1;
          }
        }
      }

      li:first-child {
        //border:1px solid #d5d5d5;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }

      li:last-child {
        //border:1px solid #d5d5d5;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }

    .app-header-user {
      position: absolute;
      bottom: 24px;
      left: 24px;

      text-align: left;

      .app-header-user-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 12px;
      }

      .app-header-user-name {
        font-weight: bold;
      }

      .app-header-user-close {
        font-size: 14px;
        cursor: pointer;
      }
    }

  }


}

@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width: 980px) {
  .app-header {
    width: 250px;
  }
}


@media (max-width: 768px) {
  .app-header {
    width: 100%;
    height: 66px;

    .app-header-horizontal {
      display: block;
      padding: 18px 18px 0;

      h1 {
        float: left;
        font-size: 21px;
        margin: 0;
        color: #fff;
      }

      svg {
        fill: #fff;
        margin-top: 2px;
      }
    }

    .app-header-horizontal-overlay {
      display: none;
      position: fixed;
      background-color: #0000004f;
      z-index: 2;
      width: 100%;
      height: 100%;

      &.open {
        display: block;
      }
    }

    .app-header-vertical {
      display: none;
      width: 250px;
      height: 100vh;
      position: fixed;
      top: 0;
      background-color: var(--color-red);

      .app-header-logo {

        .app-header-logo-img {
          padding: 24px 0 12px;

          img {
            width: 80px;
            height: 80px;
          }
        }

        p {
          padding: 0 12px 24px;
          text-align: left;
        }
      }

      .app-header-menu {

        ul {
          li {
            line-height: 36px;
            font-size: 18px;
          }
        }
      }

      &.open {
        z-index: 2;
        display: block;
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

      .close {
        display: block;
        position: absolute;

        left: 6px;
        top: 6px;
      }

      @-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
          opacity: 0;
        }

        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
          opacity: 0;
        }

        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

  }
}

@media (max-width: 600px) {
  .app-header {
    .a-h {
      .a-h-s {
        padding: 8px 0;

        li {
          svg {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .app-header {
    .a-h-v {
      font-size: 14px;
      padding: 12px;
    }

    .a-h {
      .a-h-m {
        .a-h-m-l {
          font-size: 23px;
        }
      }

      .a-h-s {
        li {
          min-width: initial;

        }
      }
    }
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
