.app-booking {

  .app-booking-p {
    margin: 6px 0 12px;
  }

  .a-b {
    max-width: 1100px;
    padding: 48px;

    section {
      padding: 24px 0;

      &:first-child {
        padding: 0 0 24px;
      }
    }

    .a-b-a {
      text-align: center;
    }

    .a-b-b {

      p {
        line-height: 24px;
      }

      .a-b-b-d {
        display: table;
        width: 100%;
        padding-left: 48px;
        box-sizing: border-box;

        .a-b-b-d-i,
        .a-b-b-d-s svg {
          display: table-cell;
          width: 3%;
          vertical-align: middle;
        }

        .a-b-b-d-s {
          cursor: pointer;
        }

      }

      .a-b-b-u {
        margin: 24px 0;
        padding: 0;
        list-style: none;



        .a-b-b-u-l {
          box-sizing: border-box;
          padding: 12px;
          display: grid;
          gap: 24px;
          align-items: center;
          grid-template-columns: 10% 5% 35% 20% 20%;
          grid-template-rows: 100%;
          vertical-align: middle;
          width: 100%;
          background-color: var(--color-white);
          margin: 12px 0;
          -webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 82%, .5);
          box-shadow: 0 4px 6px 0 hsla(0, 0%, 82%, .5);
          border-radius: 8px;
          border: 1px solid #ececec;

          &.hist {
            grid-template-columns: 10% 5% 55% 20%;

          }

          .a-b-b-u-l-str,
          .a-b-b-u-l-d,
          .a-b-b-u-l-p {
            line-height: 24px;
          }

          .a-b-b-u-l-p {
            background-color: var(--color-red);
            color: #fff;
            border-radius: 24px;
            text-align: center;
          }

          .app-booking-typepay {
            padding: 3px 6px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400px;
            font-size: 18px;

            border: 1px solid #c3c3c3;
            border-radius: 6px;
            padding: 6px;
            width: 100%;
          }

          .a-b-b-u-l-str {
            .a-b-b-u-l-str-t {
              background-color: orange;
              border-radius: 50%;
              //color: #ff;
              //margin: 0 2px;
              font-size: 14px;
              width: 20px;
              display: inline-block;
              height: 20px;
              padding: 0px;
              text-align: center;
              font-weight: bold;
              line-height: 20px;
              margin-left: 6px;
            }
          }

          .a-b-b-u-l-r {
            cursor: pointer;
            background-color: var(--color-red);
            color: #fff;
            text-align: center;
            line-height: 37px;
            border-radius: 6px;
          }

          .a-b-b-u-l-pay {
            .a-b-b-u-l-pay-d {
              line-height: 29px;

              .a-b-b-u-l-pay-d-i {
                cursor: pointer;
                margin: 0 6px;
                text-decoration: underline;

                &.active {
                  color: var(--color-red);
                }

                svg {
                  margin-right: 2px;
                  vertical-align: sub;

                  &.active {
                    fill: var(--color-red) !important;
                  }
                }
              }
            }
          }

          .a-b-b-u-l-tec {
            line-height: 28px;

            &.vol {
              color: grey;
            }
          }

          &.delivery {
            color: grey;
          }
        }
      }

      .a-b-b-nb {
        font-style: italic;
        padding: 18px 0;
        color: #a2a2a2;
      }

      .a-b-b-t {
        font-size: 28px;
        color: var(--color-red);
      }
    }
  }

}

@media (max-width: 1350px) {
  .app-booking {
    .a-b {
      padding: 24px;

      .a-b-b .a-b-b-u .a-b-b-u-l {
        display: block;

        div {
          margin-bottom: 6px;


        }

        .a-b-b-u-l-d {
          float: right;
        }

        .a-b-b-u-l-str {
          margin-bottom: 0;

          div {
            margin-bottom: 0;
          }
        }

        .a-b-b-u-l-pay{
          margin-top:6px; 
        }

        .a-b-b-u-l-p {
          display: inherit;
          max-width: 50px;
          padding: 0px 12px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .app-booking {
    .a-b {
      padding: 18px;
      font-size: 16px;

    }
  }
}

@media (max-width: 600px) {
  .app-booking {
    .a-b {
      padding: 12px;

    }
  }
}
