.app-splash {
  position: fixed;
  z-index: 200;
  background-color: #f5f6f8;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  svg {
    display: block;
    position:absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    #Group-3 {
      opacity: 0;
      animation: hideshow 1.5s 0s linear infinite;
    }
  }
}

@keyframes hideshow {
  0% {
    opacity: 0.6;
    transform: translate(50px, 0);
  }
  25% {
    opacity: 0.5;
    transform: translate(50px, -5px);

  }
  50% {
    opacity: 0.3;
    transform: translate(50px, -10px);

  }
  75% {
    opacity: 0.1;
    transform: translate(50px, -15px);

  }
  100% {
    opacity: 0;
    transform: translate(50px, -20px);
  }
}

@media (max-width: 500px) {
  .app-splash {
    svg {
      width: 200px !important;
    }
  }
}
