.app-volunteer {

  margin: 48px;
  max-width: 1100px;
  font-size: 18px;


  .cb {
    clear: both;
  }

  .app-volunteer-box {
    -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    border-radius: 8px;
    border: 1px solid #ececec;
    background-color: var(--color-white);
  }

  .a-v {
    .app-volunteer-box {
      margin: 24px 0;
      padding: 24px;
      text-align: center;
    }

    .a-v-t {
      font-size: 28px;
      color: var(--color-red);
    }

    .a-v-s {}

    .a-v-b {
      display: block;
      margin: 18px auto 24px;
      padding: 7px 32px;
      background-color: var(--color-red);
      color: #fff;
      font-size: 18px;
      max-width: 300px;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      border: none;
    }
  }

  .a-v2 {
    text-align: center;
    font-size: 18px;
    padding: 48px 24px;
    max-width: 1100px;
  }

  .a-v3 {

    max-width: 1100px;

    .app-volunteer-box{
      padding:24px;
    }


    .a-v3-t {

      font-size: 28px;
      color: var(--color-red);
    }

    .a-v3-tt{
      padding:0;
      margin:0;
      padding-bottom:12px;
    }


    .a-v3-u {
      list-style: none;
      text-align: left;
      margin: 30px 0;
      padding: 0;

      .a-v3-u-t {
        box-sizing: border-box;
        padding: 12px;
        display: grid;
        grid-template-columns: 5% 15% 38% 30% 5%;
        gap: 12px;
        grid-template-rows: 100%;
        vertical-align: middle;
        width: 100%;
        background-color: var(--color-white);
        margin: 12px 0 9px;
        -webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 82%, .5);
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 82%, .5);
        border-radius: 8px;
        border: 1px solid #ececec;

        .a-v3-u-t-i {
          .a-v3-u-t-i-t {
            background-color: orange;
            border-radius: 50%;
            color: #000;
            margin: 0;
            margin-left: 3px;
            padding:4px;
            width: 18px;
            height:18px;
            text-align: center;
            display:inline-block;
            line-height: 20px;
            font-weight: bold;
          }
        }

        .a-b-b-u-l-pay {
          .a-b-b-u-l-pay-d {
            line-height: 29px;

            .a-b-b-u-l-pay-d-i {
              cursor: pointer;
              margin: 0 6px;

              &.active {
                color: #2196f3;
              }

              svg {
                margin-right: 2px;
                vertical-align: sub;

                &.active {
                  fill: #2196f3 !important;
                }
              }
            }
          }
        }

        .a-v3-u-t-p {
          img {
            border-radius: 50%;
            width: 25px;
            height: 25px;

          }
        }
      }
    }

    .a-v3-b {
      display: block;
      margin: 18px auto 24px;
      padding: 7px 32px;
      background-color: var(--color-red);
      color: #fff;
      font-size: 18px;
      max-width: 300px;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      border: none;
    }

    .a-v3-x {
      margin: 24px auto;
      text-align: center;
    }

    .a-v3-re {
      padding: 0 0 48px;
      text-align: left;
      line-height: 24px;

      .a-v3-re-ti {
        font-size: 28px;
        padding-bottom: 6px;
        color: var(--color-red);
      }

      .a-v3-re-sub{
        padding-bottom:12px;
      }

      .a-v3-re-su {
        font-style: italic;
        font-weight: bold;
        margin: 12px 0 0;
      }
    }
  }

  .a-v4 {
    max-width: 1100px;
    text-align: center;
    background-color: var(--color-white);
    padding: 24px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);
    border-radius: 8px;
    border: 1px solid #ececec;
    font-size: 18px;


    .a-v4-an {

      padding: 0 48px;

      .a-v4-an-a {
        margin: 12px 0;
      }

      .a-v4-an-b {
        box-sizing: border-box;
        border-bottom: 1px solid grey;
        margin: 24px 0;
        padding: 24px 0;

        .a-v4-an-b-a {
          float: left;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }

          div {
            font-weight: bold;
            margin: 6px 0 12px;
          }

          animation: translating 4s linear infinite;
        }

        .a-v4-an-b-b {
          float: right;
        }

        @keyframes translating {
          0% {
            transform: translateX(0);
          }

          100% {
            transform: translateX(300px);
          }
        }
      }
    }

    .a-v4-p {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 auto 12px;
      display: block;
    }

    .a-v4-s {
      margin: 12px 0 24px;
    }

    .a-v4-n {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .a-v-pay {
    padding-top: 24px;

    .a-v-pay-tit {
      font-size: 28px;
      color: var(--color-red);
    }

    .a-v-pay-sub {
      padding-bottom: 24px;
    }

    .a-v-pay-t {
      margin: 0;
      padding: 24px;

      .a-v-pay-t-r {
        display: grid;
        grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
        gap: 12px;
        grid-template-rows: 100%;
        vertical-align: middle;
        border-bottom: 1px solid #ececec;
        padding: 12px;

        span {
          line-height: 24px;
        }

        .a-v-pay-r-f img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }

        .a-v-pay-t-r-t {
          margin: 0 12px;
          cursor: pointer;
          text-decoration: underline;
        }

        .a-v-pay-r-n{
          font-weight:bold;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@media (max-width: 1200px){
  .app-volunteer{
    .a-v3{
      .a-v3-u{
        margin:0 0 24px;

        .a-v3-u-t{
          display:block;
          position:relative;


          .a-v3-u-t-p{
            img{
              position:absolute;
              top:6px;
              right:6px;
            }
          }

          .a-v3-u-t-n{
            font-weight: bold;
          }

          span{
            display:block;
            margin-bottom:3px;
          }
        }
      }
    }

  }
}

@media (max-width: 950px) {
  .app-volunteer {
    margin: 24px;

    .a-v {
      padding: 24px;
      margin: 24px;
    }
  }
}

@media (max-width: 768px) {
  .app-volunteer {
    margin: 18px;
    font-size: 16px;

    .a-v {
      padding: 24px;
      margin: 48px 24px;
    }


    .a-v4 {
      font-size: 16px;
      .a-v4-an {
        .a-v4-an-b {
          @keyframes translating {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(200px);
            }
          }
        }
      }
    }

    .a-v-pay .a-v-pay-t {
      padding: 0;
      .a-v-pay-t-r{
        display:block;
        position:relative;


        span{
          display:block;
        }
        .a-v-pay-t-r-t{
          margin:0 3px 0;
          display:inline-block;
        }
      }

      .a-v-pay-r-f{
        position:absolute;
        top:12px;
        right:12px;
      }
    }
  }
}


@media (max-width: 500px) {
  .app-volunteer {
    margin: 12px;


    .a-v {
      font-size: 14px;
      margin: 48px 12px;
      padding: 24px 12px;

      .a-v-s {
        font-size: inherit;
      }
    }

    .a-v2 {
      font-size: 14px;
      padding: 48px 12px;
      margin: 48px 12px;
    }

    .a-v4 {
      padding: 12px;

      .a-v4-an {
        padding: 0 12px;

        .a-v4-an-b {
          @keyframes translating {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(150px);
            }
          }
        }
      }
    }

    .a-v3 {

      .app-volunteer-box{
        padding: 12px;
      }
     
    }
  }
}

@media (max-width:400px) {
  .app-volunteer {
    .a-v4 {

      .a-v4-an {
        padding: 0 12px;

        .a-v4-an-b {
          @keyframes translating {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(150px);
            }
          }
        }
      }
    }
  }
}
