.app-profile {

  label {
    color: var(--color-red);
  }

  .a-p-d {
    max-width: 300px;
    background-color: #fff;
    padding: 48px;
    border-radius: 8px;
    margin: 48px;
    box-shadow: 0 4px 6px 0 rgba(209, 209, 209, 0.5);

    input[type="text"] {
      border: none;
      border-bottom: 1px solid grey;
      padding: 6px 0;
      box-sizing: border-box;
      font-size: 16px;
      width: 100%;
      margin: 6px 0 12px;

      &:focus {
        outline: none;
      }
    }

    button {
      display: block;
      width: 100%;
      background-color: var(--color-red);
      border-radius: 20px;
      padding: 12px;
      color: var(--color-white);
      font-size: 16px;
      margin-top: 42px;
      border: none;
      max-width: 200px;
      margin: 42px auto 0;
      font-family: 'Raleway-Regular', arial, sans-serif !important;
      cursor: pointer;
    }

    .a-p-d-f {
      margin: 24px 0;
      position: relative;

      .a-p-d-f-l {
        display: block;
        font-weight: bold;
      }

      .a-p-d-f-i {
        display: block;
        //background-color: #d4d4d4;
      }

      .a-p-d-f-p {
        display: block;
        width: 300px;
      }

      .a-p-d-f-f {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        text-align: center;
      }

      .a-p-d-f-s {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #ffffffde;
        width: 100%;
        height: 50px;
        text-align: center;
        margin-top: 8px;
        cursor: pointer;
        vertical-align: middle;
        font-weight: bold;
        line-height: 46px;
      }

      .a-p-d-f-u {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .app-profile {
    .a-p-d {
      padding: 24px;
      margin: 12px;
      max-width: initial;

      button {
        max-width: initial;
      }
    }
  }
}

@media (max-width: 500px) {
  .app-profile {
    .a-p-d {
      //margin: 12px;
      display: block;
      max-width: initial;
      box-sizing: border-box;
    }
  }
}
